# Ignore all CSV files
*.csv

# Ignore all CSV files
*.log

# Virtual environment ignored
/venv

# Compiled Python files
__pycache__/
*.py[cod]

# IDE specific files
.vscode/
.idea/
*.iml

# Testing and coverage files
.coverage
*.coverage.*
.cache/
htmlcov/

# Build artifacts
dist/
build/
*.egg-info/